
.App {
  text-align: center;
}

.stack {
  display: flex;
  position: relative;
  flex-direction: column;
}


$blur-radius: 140px; // Adjust the blur radius as needed
$circle-size: 300px; // Adjust the circle size as needed
$circle-color: rgba(124, 58, 237, 1); // Adjust the circle color and opacity as needed

.blur-circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  background: radial-gradient(circle at center, transparent, $circle-color $blur-radius);
  filter: blur($blur-radius);
  align-self: flex-end;
  position: absolute;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
